* {
  // background-color: rgba(0, 0, 0, 0.2);
  background-image: url("../../img/background/noisebg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
